.contact-section{
     margin-bottom: 5rem;
  }
.about-us{
 
  background-color:#F0F8FF;
  color:031634;
  box-shadow: 0px 0px 6px #031634;
  height:100px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem
 
 
     
  }
.pet-section{
  height: 500px;
 }
.about-us-heading{
     margin-top: 4rem;
     margin-bottom: 3rem;
  }
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #E0FFFF; 
}

.table th {
  background-color:#3E8EDE;
  color: #fff; 
}
#detailsContainer{
margin-top: 30px;
}
.cancel{
  cursor: pointer;
  font-size: 20px
}
.cancel:hover{
   color:red;
}
#my_appointment_img{
 width: 100px;
}


 html,
  body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);*/
  background-color:#F0F8FF;
  overflow-y: auto; 
 
}       



#login-btn{
    margin-right: 50px;
}

.navbar{
    background-color: rgb(240, 241, 241) !important;
    height: 80px;
    box-shadow: 0 0 5px #c2c2c2;
}
.doctor-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    text-align: justify;
    gap: 1rem;
   
}
.card-heading h1{
    letter-spacing: .5rem;
    color: rgb(15, 107, 75);
    font-size: 3rem!important;
    
}

.card-desc{
    line-height: 2;
    font-size: 1.2rem;
}
.login-btn{
    width: 200px;
   
}
.doctor{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    height: 100vh;
}
.farmer{
    height: 100vh;
}